WO_ENV_NAME=my-env
WO_INSTANCE_URL=<SHARED_INSTANCE_URL>
WO_API_KEY=replace_with_your_api_key

MILVUS_HOST=ffbe47d6-2f04-4c96-b0be-fdf8658d2a08.d2n23mhr0m94463g3tdg.lakehouse.ibmappdomain.cloud
MILVUS_PORT=31140
MILVUS_DATABASE=candidateXX_XXXXXXXX
MILVUS_USER=ibmlhapikey_candidateXX
MILVUS_PASSWORD=replace_with_your_api_key
MILVUS_COLLECTION=scenario_chunks